@import "variables";

h2{
  font-weight: 500;
}

h2.header-bean{
  font-weight: 700;
}
p{
font-weight: 300;
}

body {
  position: relative; 
  font-family: $texts-style;
}

.logo {
  width: 300px;
}
 .navbar-toggler {
  color: $primary-color;
}
 .navbar-brand {
  color: $nav-color;
}
 .nav-link {
  padding: 2rem 1.5rem;
  color: $nav-color;

  &:hover, &:active {
    color:$texts-white;
  }
}

.nav-menu{
  margin-right: 100px;

  ul li{
    margin-right: 60px;
  }

}


a:hover {
  color: $texts-white;
}


.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 35rem;
  padding: 15rem 0;
  background-image:url("../img/banner-img.png");
  background-repeat: no-repeat;
  background-position: right;
  background-color: $primary-color;

}


.header-bean {
  max-width: 25rem;
  margin: 10rem 10rem;
  position: relative;
  z-index:2;
  &:before {
    content:'';
    position: absolute;
    width:5px;
    height:200px;
    background-color: white;
    left: 25rem;
    top: 0rem;
    z-index: -1;
  }
  &:after {
    content: url(../img/coffee-bean.png);
    position: absolute;
    left: -7rem;
    top: -10rem;
    z-index: -1;
  }
}

@media (max-width: 992px) {
  .header-bean:before, .header-bean::after{
    display: none;
  }
  .img-about {
    margin-right: 0px;
}
 }

// About Section
.about-section{
  margin:$section-style;
  color: #979797;
}

.img-about {
  width: 30rem;
  float: right;
  margin-right: 10rem;
}

.welcome::after {
  content: '';
  position: absolute;
  width: 200px;
  height: 5px;
  background-color: #EF7F70;
  left: 1rem;
  top: 6rem;
}
@media (max-width: 992px) {
  .img-about {
    margin-right: 0px;
}
 }
/* // Menu section */
.menu-section{
  position: relative;
}
.parallax{
  background-image: url("../img/parallax-bean.png");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
 }
 
 .overlay {
    background: rgba(45, 45, 45, 0.95);
     position: absolute;
     width: 100%;
     height: 100%;
 }
 
 .menu-section .container {
   padding:10rem 0;
   position: relative;
 }
 
 .coffee{
   margin: 5rem;
 
 }
 
 .ratio{
     text-align: center;
     border: 3px solid #ba906e;
     width: 400px;
     margin: auto;
     padding: 20px;
 }

 .number{
  font-size: 2rem;
  padding: 1rem;
}

 .menu-img {
  width: 300px;
  margin: auto;
 }
 
 .menu-item {
     width: 50%;
     padding: 20px;
     text-align: center;
     margin: 10px 0 10px 0;
     transition: .3s;
     &:hover{
      background: $primary-color;
      transition: .3s;
      transform: scale(1.1);
      cursor: pointer;
  }
  &:active{
    background: $texts-white;
    }
 }
 
 .menu-item.current{
     background: $primary-color;
 }
 
 
 .menu-title::after {
     content: "";
     position: absolute;
     top: 14rem;
     left: 33rem;
     width: 100px;
     height: 2px;
     background-color:$primary-color;
 }

 @media (max-width: 992px) {
  .menu-item {
    width: 100%;
  }
  .menu-title::after{
    display: none;
  }
 }
 


// Visit section
.visit-section{
  color: #6b6b6b;
  background-image:url(../img/visit-img.jpg);
  background-size: cover;
  position: relative;
}

.overlay2 {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
}

.visit-box{
  padding:$section-style;
}

.contact-box {
  margin: auto;
  max-width: 60rem;
  height: 20rem;
  background: $texts-white;
}

.visit-text{
  padding-left: 3rem;
  h2::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #EF7F70;
    left: 3rem;
    top: 2.5rem;
  }
  p span{
    font-weight: 500;
  }
}

// Footer
footer{
  display: block;
  background-color: $primary-color;
  width: 100%;
  height: 100%;
  padding-top: 5rem;
}

.footer-menu {
  position: relative;
  top: -2rem;
}



